.app {
  width: 100vw;
  height: 100vh;
  background-color: yellow;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;

}

.quoteView {
  position: absolute;
  top: 0;
  left: 141px;
  width: calc(100vw - 161px);
  padding-left: 10px;
  padding-right: 10px;
  height: 60vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.author {
  font-size: calc(10px + 1vmin);
}

.buttonBar {
  background-color: #f8f9fa;
  border-right: 1px solid #dee2e6;
  height: 100%;
  width: 140px;
  position: absolute;
  top: 0;
  left: 0;
}

.logo {
  position: relative;
  top: 20px;
  left: 15px;
}

.logo-header {
  font-weight: bold;
  font-size: 7px;
  position: absolute;
  height: 30px;
  width: 90px;
  top: 13px;
  left: 8px;
  color: black;
}

.logo-main {
  font-weight: 800;
  font-size: 35px;
  position: absolute;
  height: 80px;
  width: 80px;
  top:0;
  left:0;
  color: green;
}

.basicButton {
  position: absolute;
  width: 100px;
  height: 40px;
  background-color: green;
  border: 0;
  border-radius: 4px;
  font-size: 14px;
}

.basicButton:hover {
  background-color: lightgray;
  cursor: pointer;
}

.basicButton:disabled {
  background-color: #c9f6cd;
}

.newQuoteButton {
  @extend .basicButton;
  top: 100px;
  left: 20px;
}

.likeButton {
  @extend .basicButton;
  top: 160px;
  left: 20px;
}

.previousButton {
  @extend .basicButton;
  top: 220px;
  left: 20px;
}

.nextButton {
  @extend .basicButton;
  top: 280px;
  left: 20px;
}

.firstButton {
  @extend .basicButton;
  top: 340px;
  left: 20px;
}

.lastButton {
  @extend .basicButton;
  top: 400px;
  left: 20px;
}

